.about
	display inline-block
	min-height 430px


	&__container
		relative-width(1000, 1366)
		container()

	&__title 
		title(true, false)
	

	&__description
		float left
		width 40%

	&__text
		margin-bottom 2.6em
		font-famyly OpenSans
		font-size(14px, 25px)

	&__preview
		float right
		width 50%

	&__img
		display block
		float right
	
