.about
	display inline-block
	background bg-main
	padding-bottom 4em


	&__container
		relative-width(1000, 1366)
		container()

	&__title 
		title(true, false)
	

	&__description
		float left
		width 40%

	&__text
		margin-bottom 2.6em
		font-famyly OpenSans
		font-size(14px, 25px)

	&__preview
		float right
		width 50%
	
