.about
	min-height 430px
	width 100%


	&__container
		relative-width(1000, 1366)
		container()
		clearfix()

	&__title
		title(true, false)


	&__description
		float left
		width 40%

	&__text
		margin-bottom 2.6em
		font-family OpenSans
		font-size(14px, 25px)

	&__preview
		float right
		width 50%

	&__img
		display block
		float right

	&__btn
		btn(20px)


@media (max-width: 800px)
	.about
		&__description
			width 100%
			margin-bottom: 60px
			span(1, 0, 1)

		&__title
			title(false, true, false)
			width 80%
			margin-left auto
			margin-right auto
			text-align center !important

		&__preview
			span(1, 0, 0)
			margin-top: 40px
			text-align center

		&__img
			float none
			margin 0 auto
			display: inline-block
