include ../icon/icon

mixin service-card(iconName, title, text)
	+b.ARTICLE.service-card&attributes(attributes)
		+e.DIV.icon-wrapper
			+icon(iconName, false).icon
		+e.DIV.content
			+e.H3.title #{title}
			+e.P.text #{text}

		block
