.service-card
	position relative
	flex 0 1 49%

	margin-bottom: 2.1rem
	margin-right: 2%
	padding 3.3rem 3rem 3.3rem 10rem
	border-radius 0.5em
	transition 0.2s
	border 3px solid #ebebeb

	&:nth-of-type(2n)
		margin-right 0

	&__icon-wrapper
		position absolute
		top 3rem
		left 1rem
		width 110px
		height 110px
		background red
		border-radius 50%

	&__icon
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 50px
		height 50px
		fill white

	&__title
		title(true)
		text-align left

	&__text
		text-align left

	&:hover
		background #e84c3d

	&:hover .service-card__icon-wrapper
		background white

	&:hover .service-card__icon
		fill red

	&:hover .service-card__title::after
		background white

	&:hover .service-card__title,
	&:hover .service-card__text
		color white

@media (max-width: 900px)
	.service-card
		padding 130px 20px 20px 20px

		&__icon-wrapper
			top 10px
			left 50%
			transform translateX(-50%)

		&__content
			width 100%


@media (max-width: 600px)
	.service-card
		flex 1 0 100%
