include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../dids/dids
include ../views/views
include ../three-steps/three-steps
include ../featured/featured
include ../service/service
include ../keep-explore/keep-explore
//include ../porfolio/porfolio
include ../email-subscribe/email-subscribe
include ../crew/crew

include ../latest-blog/latest-blog
include ../pricing-table/pricing-table
include ../contacts/contacts
include ../footer/footer
include ../slider/slider

include ../header/header
include ../about/about

doctype html
html(lang='ru')
include ../head/head
+page
	include ../icon/icon.svg
	+header
	+about
	+dids
	+views
	+three-steps
	+featured
	+service
	+keep-explore
	//+porfolio
	+email-subscribe
	+crew
	+slider
	+latest-blog
	+pricing-table
	+contacts
	+footer

	block content
	+scripts(['app.min.js'])
