.btn
	display inline-block
	cursor pointer
	font-size 16px
	background bg-btn
	color white
	padding 0.8em 1.1em
	border-radius 0.2em
	text-transform uppercase

	&:hover 
		background lighten(bg-btn, 20%)
		color darken(bg-btn, 40%)

	&:active
		background darken(bg-btn, 20%)
		color white
