include ../common-mixins

mixin price-card(title, descList)
	+e.ARTICLE.price-card
		+e.price-plan #{title}
		for desc in descList
			+e.record #{desc}

		+e.BUTTON.btn Sign Up



mixin pricing-table()
	+b.pricing-table&attributes(attributes)
		+e.container
			+title('Pricing table', "Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text ")
			+e.price-cards
				+price-card('Basic', ['5 users', 'Unlimited Forums','X', 'X', 'X', 'X', 'free'])
				+price-card('Standard', ['20 users', 'Unlimited Forums','X', 'X', 'X', 'X', '10$/month'])
				+price-card('Advanced', ['> 50 users', 'Unlimited Forums','X', 'X', 'X', 'X', '20$/month'])

		block
