.contacts
	display block
	section-title()

	&__container
		container(970px)

	&__wrapper
		center()

	&__form
		column(0.6, 0, 2, 10)


	&__info
		column(0.4, 0, 2, 10)



	&__input
		column(1/2, 0, 2)
		margin-bottom: 20px
		padding 5px
		background transparent
		border 2px solid grey

		&:focus
			border 2px solid #5b8064


		&:focus:invalid {
			/* insert your own styles for invalid form input */
			-moz-box-shadow: none;
			border 2px solid red
		}


	&__message
		span()
		margin-bottom: 20px
		padding: 5px
		background transparent
		border 2px solid grey
		resize none

		&:focus
			border 2px solid #5b8064

	&__btn
		btn(14px)

	&__info
		padding-top: 50px

	&__info-item
		position relative
		margin-bottom: 30px
		padding-left: 50px

	&__icon
		position absolute
		top 50%
		transform translateY(-50%)
		left 0
		width 30px
		height 30px
		fill red

	&__text
		font-family OpenSans
		font-size(14px)
		line-height 2

@media (max-width: 800px)
	.contacts
		&__form
			span(1, 0, 0)
			text-align center

		&__info
			span(1, 0, 0)
