.crew
	display block
	section-title()

	&__container
		container()

	&__crew-cards
		display flex
		flex-direction row
		justify-content space-between
		flex-wrap wrap

	&__img-wrapper
		margin-bottom: 20px
	&__name
		text-align center
		margin-bottom: 5px

	&__pos
		text-align center






