// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image url('../images/' + $image + '@2x.' + $ext)
	}
}



font-size(font-size = 16px, line-height = 1)
	font-size  font-size // px fallback
	font-size  unit((font-size / 16), rem) 
	line-height line-height


font-face(family, path, weight='normal')
	@font-face
		font-family family
		font-weight weight
		font-style normal
		src url(path + '.eot')
		src url(path + '.eot?#iefix') format('embedded-opentype'),
			url(path + '.woff') format('woff'),
			url(path + '.ttf') format('truetype'),
			url(path + '.svg#') format('svg')



// calculate width in %
relative-width(child, parent)
	width (child / parent) * 100 + '%'


// wrapper for section content
container() {
	margin 0 auto
	padding 60px 0
	display block
	relative-width(1200, 1300)
}


