// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image url('../images/' + $image + '@2x.' + $ext)
	}
}



font-size(font-size = 16px, line-height = 1)
	font-size  font-size // px fallback
	font-size  unit((font-size / 16), rem)
	line-height line-height


font-face(family, path, weight='normal')
	@font-face
		font-family family
		font-weight weight
		font-style normal
		src url(path + '.eot')
		src url(path + '.eot?#iefix') format('embedded-opentype'),
			url(path + '.woff') format('woff'),
			url(path + '.ttf') format('truetype'),
			url(path + '.svg#') format('svg')



// calculate width in %
relative-width(child, parent)
	width (child / parent) * 100 + '%'


// wrapper for section content
container(max-width = 1200px)
	margin 0 auto
	padding 60px 0
	display block
	relative-width(1200, 1300)
	max-width max-width


// title with uderscores in left or middle or rihght
title(left = true, middle = false, right = false, uderscoreColor = color-font-title)
	margin-top 0
	margin-bottom 2em
	position relative
	color color-font-title
	font-family Roboto
	font-size(20px)
	text-transform uppercase
	letter-spacing 3px

	&::after
		content ''
		position absolute
		width 2em
		height 3px
		background uderscoreColor
		bottom -1em

		if left
			left 0

		if middle
			left 50%
			transform translate(-50%)

		if right
			right 0


section-title(color = color-font-title )
	&__title
		title(false, true)
		font-size(20px)
		text-align: center
		margin-bottom 40px
		color color

	&__description
		font-family OpenSans
		font-size(14px)
		text-align center
		relative-width(550, 1365)
		margin auto
		margin-bottom 40px
		color color

info(color)
	&__info-wrapper
		padding 5.3rem 7rem
		flex 0 1 50%

	&__info-title
		title(true, false, false, white)
		color color

	&__info-description
		color color
		font-size(14px)

btn(font-size)
	font-size(font-size)
	color white
	background red
	border none
	text-decoration none
	padding 0.5rem 2em
	text-transform uppercase
	border-radius 0.4em


fading-background(img-url, color = bg-keep-explore, opacity = 0.9)
	position relative

	&__overlay
		position absolute
		top: 0
		left: 0
		width: 100%
		height: 100%;
		background: red
		opacity: 0.9
		transition: 1s
		z-index: 10

		^[-1]:hover &
			opacity: 0

	&__background
		position absolute
		width 100%
		min-height 100%
		top 0
		left 0
		background-image url(img-url)
		//background-size cover
		z-index 1

		^[-1]:hover &
			opacity: 1


placeholder(color = black, color-focus = grey, bg = transparent, bg-focus = transparent)

	input::-webkit-input-placeholder {
		color: color
	}

	input:focus::-webkit-input-placeholder {
		color: color-focus
	}

	/* Firefox < 19 */
	input:-moz-placeholder {
		color: color
	}

	input:focus:-moz-placeholder {
		color: color-focus
	}

	/* Firefox > 19 */
	input::-moz-placeholder {
		color: color
	}

	input:focus::-moz-placeholder {
		color: color-focus
	}

	/* Internet Explorer 10 */
	input:-ms-input-placeholder {
		color: color
	}

	input:focus:-ms-input-placeholder {
		color: color-focus
	}
