// colors
grey = #e1e1e1
red = #e84c3d


// backgrounds
bg-header = grey
bg-btn = #e84c3d
bg-main = #f3f3f3
bg-darker = #ececec
bg-keep-explore = rgba(13, 13, 13, 1)

// font sizes
base-font-size = 16px
menu-font-size = 14px

// font-colors
color-font-menu = #333b46
color-font-caption = #81868e
color-font-scroll = red
color-font-title = #333b46
color-font-main = #81868e
color-font-tabs = #464646


// font-families
Roboto = 'Roboto', sans-serif
OpenSans = 'Open Sans', sans-serif;




