include ../common-mixins
include ../categories-galery/categories-galery

mixin porfolio()
	+b.porfolio&attributes(attributes)#portfolio
		+e.container
			+title("Portfolio", "Lorem Ipsum is simply dummy text of the printing and typesetting been the industry's standard dummy text")
			+categories-galery
		block
