mixin categories-galery()
	+b.categories-galery&attributes(attributes)
		+e.UL.tabs
			+e.LI.tab._active All Categories
			+e.LI.tab Print
			+e.LI.tab Identity
			+e.LI.tab Branding
			+e.LI.tab Web
		+e.galery.mosaicflow.clearfix
			div.mosaicflow__item
				img(src='assets/images/shop-details.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/book-small.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/bottle-small.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/brands-small.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/coffe-shop.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/coffe-shop.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/coffe-shop.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/coffe-shop.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/coffe-shop.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/coffe-shop.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/coffe-shop.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/news.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/conference.jpg', alt='shop-details')
			div.mosaicflow__item
				img(src='assets/images/coffe-shop.jpg', alt='shop-details')

	block


