.categories-galery
	display block
	clearfix()

	text-align center

	&__galery
		display block
		clearfix()


	&__tabs
		margin: 70px auto 60px
		padding: 0


	&__tab
		position relative
		display inline-block
		padding: 15px
		cursor pointer
		color color-font-tabs

		&_active::before
			content: ''
			position absolute
			left 1em
			bottom 0
			width 30%
			height 3px
			background color-font-tabs

		&::after
			content '/'
			position absolute
			top 1em
			right -0.5em

		&:last-child::after
			display none

.mosaicflow__item

	img
		width 100%
		display block

.mosaicflow__column
	float left


@media (max-width: 800px)
	.categories-galery
		&__tabs
			margin: 20px auto 60px

