mixin info(title, description)
	+e.info-wrapper
		+e.H4.info-title #{title}
		+e.P.info-description #{description}

mixin title(title, description)
	+e.H3.title #{title}
	+e.P.description #{description}
