.latest-blog
	display block
	section-title()

	&__container
		container()

	&__posts
		center()

	&__post-img
		transition transform 0.2s

	&__post
		column(1/2, 0, 2)
		position relative
		overflow hidden
		&:hover .latest-blog__info
			transform translateX(0%)

		&:hover .latest-blog__post-img
			transform scale(1.05)

	&__info
		position absolute
		top 0
		right 0
		color white
		background red
		transform translateX(100%)
		opacity 0.9
		height 100%
		padding 30px
		transition 0.2s
		column(1/2 , 0, 1)


	&__info-author
		margin-bottom: 10px

	&__info-description
		margin-bottom: 20px

	&__info-date
		padding-left: 30px
		position relative

	&__icon
		content ''
		position absolute
		top -2px
		left 0
		width 20px
		height 20px
		fill white

	&__info-title
		title(true, false, false, white)
		color white
		font-size(16px)
		margin-top: 110px

@media (max-width: 1150px)
	.latest-blog

		&__info-title
			margin-top: 20px

@media (max-width: 950px)
	.latest-blog
		&__info
			width 100%

		&__info-title
			margin-top 10px

@media (max-width: 600px)
	.latest-blog
		&__info
			width 70%

		&__info-title
			font-size(14px)
			margin-top: 10px

		&__post
			column(1, 0, 1)

@media (max-width: 400px)
	.latest-blog
		&__info
			width 100%

		&__info-title
			margin-top: 20px




