.header
	position relative
	display block
	background bg-header
	overflow hidden
	margin-top -15px


	&__container
		container()
		position relative
		min-height 100vh

	&__navigation
		position relative
		margin-right 0
		float right
		clearfix()
		z-index 10

	&__menu-items
		margin 0
		padding 0
		list-style none

	&__menu-item
		display inline-block
		vertical-align top

		&:hover .header__menu-link
			color red


	&__menu-link
		cursor pointer
		padding 0 0 0 20px
		display block
		color color-font-menu
		text-transform uppercase
		font-size(14px, 20px)

	&__title
		position absolute
		margin 0 auto
		top 44%
		left 50%
		width 600px
		letter-spacing 2px
		font-family Roboto
		font-size(35px, 40px)
		transform translate(-50%, -50%)
		z-index 1000

	&__caption
		display block
		margin-top 10px
		font-family OpenSans
		font-size(16px, 16px)
		color color-font-caption
		letter-spacing 5px

	&__navigation_aside
		position fixed
		right 0
		top 150px
		transform translate(100%, -50%)
		z-index 1000
		background bg-side-menu
		opacity 0.7
		border-radius 0.3em
		transition 0.5s

		&::after
			content ''
			position absolute
			top: 50%
			right: 57%
			width 200px
			height 0
			border 50px solid transparent
			border-bottom 50px solid bg-side-menu
			z-index 1000
			transform  translateY(-50%) rotate(-90deg)

		&::before
			content 'Menu'
			color white
			position absolute
			top: 50%
			right: 28%
			font-size(20px);
			width 200px
			height 30px
			transform  translateY(-50%) rotate(-90deg)
			z-index 1001
			text-align center

	&__navigation_aside:hover
		transform translate(0, -50%)

	&__navigation_aside .header__menu-link
		color white
		padding 10px 20px
		font-weight bol

	&__navigation_aside .header__menu-item
		display block

	&__img-wrapper
		position absolute
		top 0
		left 0
		width 100%
		height 100%


	&__thing
		position absolute

		&_headphones
			top 20vh
			left -10vw
			//paralax-item(-50px, 1, absolute, 20vh, -30vw, 386, 378);

		&_juice
			top 30vh
			left 92%
			//paralax-item(-70px, 4, absolute, 20vh, 90vw, 119, 135);

		&_glasses
			top 54%
			left 17vw
			//paralax-item(-120px, 4, absolute, 100vh, 0vw, 169, 93);

		&_pencils
			top 80%
			left 90px

		&_mouse
			top 80%
			left 90%

		&_pen-holder
			top 50%
			left 90%
			//paralax-item(-10px, 4, absolute, 50vh, 80vw, 154, 158);


@media (max-width: 1100px)
	.header

		&__thing
			&_headphones
				display none
		&__title
			width 90%
			text-align center

			&_glasses
				display none

		&__title
			width: 90%
			top: 240px
			font-size(20px)
			text-align center

		&__caption
			font-size(16px)
		&__thing

			&_headphones
				left -20vw

@media (max-width: 900px)
	.header

		&__logo
			display block
			width 122px
			margin 50px auto


		&__thing

			&_headphones
				display none

			&_pen-holder
				display none

@media (max-width: 750px)
	.header

		&__navigation
			margin-top 50px
			float: none
			text-align center


@media (max-width: 650px)
	.header

		min-height 70vh

		&__thing

			&_pencils
					display none


		&__title
			letter-spacing 1px
			font-size(18px, 40px)
			text-align center


		&__caption
			font-size(14px, 14px)
			letter-spacing 1px
