.header
	position relative
	display block
	min-height 100vh
	background bg-header
	overflow hidden

	&__container
		container()

	&__navigation
		margin-right 0
		float right
		clearfix()

	&__menu-items
		margin 0
		padding 0
		list-style none
	
	&__menu-item
		display inline-block
		vertical-align top

	&__menu-link
		padding 0 0 0 20px
		display block
		color color-font-menu
		text-transform uppercase
		font-size(14px, 20px)

	&__title
		position absolute
		margin 0 auto
		top 44%
		left 58%
		width 600px
		letter-spacing 2px
		font-family Roboto
		font-size(35px, 40px)
		transform translate(-50%, -50%)

	&__caption
		display block
		margin-top 10px
		font-family OpenSans
		font-size(16px, 16px)
		color color-font-caption
		letter-spacing 5px


	&__scroll
		position fixed
		bottom 10vh
		left 50%
	

	&__scroll-button
		cursor pointer
		sprite($icon_mouse)
		margin 10px auto


	&__scroll-text
		color color-font-scroll
		font-size(12px)
		text-transform uppercase

	&__thing 
		position absolute
		
		&_headphones 
			top 20vh
			left -150px
	

		&_juice 
			top 30vh
			right -20px
		
		&_glasses
			bottom 36vh
			left 17vw

		&_pencils 
			bottom 19vh
			left 90px
		
		&_mouse
			bottom 20vh
			right 10vw

		&_pen-holder
			bottom 30vh
			right -70px


		

