.scroll-button
	position absolute
	bottom 10%
	left 50%
	transform translateX(-50%)
	text-align center

	&__icon
		cursor pointer
		sprite($icon_mouse)
		display inline-block
		vertical-align top
		text-align center
		margin-bottom: 10px
		animation-name bounce
		animation-duration 5s
		animation-iteration-count infinite

	&__text
		color color-font-scroll
		font-size(12px)
		text-transform uppercase
