mixin categories-slider()
	+b.categories-slider&attributes(attributes)
		+e.UL.tabs
			+e.LI.tab._active All Categories
			+e.LI.tab Print
			+e.LI.tab Identity
			+e.LI.tab Branding
			+e.LI.tab Web
		+e.slider
		block
