include ../btn/btn

mixin keep-explore()
	+b.keep-explore&attributes(attributes)
		+e.container
			+e.H3.title CREATE YOUR OWN BUSINESS WITH OUR IDEAS !
			+e.SPAN.subtitle GET READY TO STAND OUT
			+btn(class='__btn') KEEP EXPLORING
		+e.overlay
		+e.background

		block
