.service
	display block
	section-title()

	&__container
		container()


	&__content-wrapper
		display flex
		flex-flow row wrap
		justify-content space-between
		background red
		color white

	&__info-wrapper
		padding 5.3rem 7rem
		flex 0 1 50%

	&__info-title
		title(true, false, false, white)
		color white

	&__description
		color white

	img 
		flex 0 1 40%
