.service
	display block
	margin-top 60px
	section-title(color-font-title)

	&__content-wrapper
		display flex
		flex-flow row wrap
		justify-content space-between
		background red


	info(white)

	img
		flex 0 1 40%
