mixin step(iconName, title, text)
	+e.DIV.step
		+icon(iconName, false)
		+e.H4.title #{title}
		+e.P.text #{text}

mixin three-steps()
	+b.three-steps&attributes(attributes)
		+e.contaner
			+e.H3.title Three Simple Steps 
			+e.P.description Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text 
			+e.DIV.steps
				+step('rise','technological', 'Instant access from any device from mobile to laptop')
				+step('rise','technological', 'Instant access from any device from mobile to laptop')
				+step('rise','technological', 'Instant access from any device from mobile to laptop')
		
		block
