.dids
	display block
	min-height 280px

	

	text-align center

	&__container
		container()
	&__title
		title(false, true)


	&__text
		font-family OpenSans
		font-size(14px)
		width 548px
		margin 50px auto
