.dids
	display block
	min-height 280px
	text-align center

	section-title()

	&__container
		container()

	&__card-wrapper
		width 100%
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items stretch
