include ../service-card/service-card

mixin dids()
	+b.SECTION.dids&attributes(attributes)
		+e.container
			+e.H3.title What we do
			+e.P.text Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text 
		
			+e.DIV.card-wrapper
				+service-card("monitor", "UI/UX Design", "Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy")
				+service-card("star", "BRANDING & IDENTY", "Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy")
				+service-card("tablet", "APP DESIGN", "Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy")
				+service-card("pencil", "PRINT DESIGN", "Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy")
			
		block
